<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="UserServiceEndpoint">
          <security mode="None" />
        </binding>
        <binding name="ProjectServiceEndpoint">
          <security mode="None" />
        </binding>
        <binding name="NotificationServiceEndpoint">
          <security mode="None" />
        </binding>
        <binding name="UserServiceEndpoint1">
          <security mode="None" />
        </binding>
        <binding name="ProjectServiceEndpoint1">
          <security mode="None" />
        </binding>
        <binding name="NotificationServiceEndpoint1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://skrum.fe.up.pt:8003/UserService.svc"
        binding="netTcpBinding" bindingConfiguration="UserServiceEndpoint"
        contract="UserService.IUserService" name="UserServiceEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://skrum.fe.up.pt:8003/ProjectService.svc"
        binding="netTcpBinding" bindingConfiguration="ProjectServiceEndpoint"
        contract="ProjectService.IProjectService" name="ProjectServiceEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://skrum.fe.up.pt:8003/NotificationService.svc"
        binding="netTcpBinding" bindingConfiguration="NotificationServiceEndpoint"
        contract="NotificationService.INotificationService" name="NotificationServiceEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://skrum.fe.up.pt:8003/UserService.svc"
        binding="netTcpBinding" bindingConfiguration="UserServiceEndpoint1"
        contract="UserService.IUserService" name="UserServiceEndpoint1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://skrum.fe.up.pt:8003/ProjectService.svc"
        binding="netTcpBinding" bindingConfiguration="ProjectServiceEndpoint1"
        contract="ProjectService.IProjectService" name="ProjectServiceEndpoint1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://skrum.fe.up.pt:8003/NotificationService.svc"
        binding="netTcpBinding" bindingConfiguration="NotificationServiceEndpoint1"
        contract="NotificationService.INotificationService" name="NotificationServiceEndpoint1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>