<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NotificationServiceEndpoint">
                    <security mode="None" />
                </binding>
                <binding name="UserServiceEndpoint">
                    <security mode="None" />
                </binding>
                <binding name="ProjectServiceEndpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://skrum.fe.up.pt:8003/NotificationService.svc"
                binding="netTcpBinding" bindingConfiguration="NotificationServiceEndpoint"
                contract="NotificationService.INotificationService" name="NotificationServiceEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://skrum.fe.up.pt:8003/UserService.svc"
                binding="netTcpBinding" bindingConfiguration="UserServiceEndpoint"
                contract="UserService.IUserService" name="UserServiceEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://skrum.fe.up.pt:8003/ProjectService.svc"
                binding="netTcpBinding" bindingConfiguration="ProjectServiceEndpoint"
                contract="ProjectService.IProjectService" name="ProjectServiceEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>