<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NotificationServiceEndpoint">
          <security mode="None" />
        </binding>
        <binding name="DataServiceEndpoint">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/NotificationService.svc"
        binding="netTcpBinding" bindingConfiguration="NotificationServiceEndpoint"
        contract="NotificationService.INotificationService" name="NotificationServiceEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/DataService.svc" binding="netTcpBinding"
        bindingConfiguration="DataServiceEndpoint" contract="DataService.IDataService"
        name="DataServiceEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>